Package: com.yourcompany.llas-patcher
Name: llas-patcher
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: anonymous
Author: anonymous
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
